.header1{
  height: 3rem;
  background-color: orange;
}

.app-title{
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  padding: 5px 20px;
  font-size: 2rem;
  margin-bottom: 0;
  &:hover{
    text-decoration: none;
    color: #fff;
  }
}

.current-user{
  margin-right: 20px;
  margin-bottom: 0;
  color: #fff;
}

.header2{
  height: 3rem;
  background-color: #ffebcd;
}

.link{
  text-decoration: none;
  display: inline-block;
  color: #ff4500;
  font-weight: bold;
  height: 100%;
  padding: 12px 20px;
  &:hover{
    text-decoration: none;
    color: #fff;
    background-color: #ff4500;
  }
}

