<div class="contact-lists">
  <h2>オファーリスト</h2>
  <p>下記のユーザーからオファーが届いています</p>
  <% @contacts.each do |contact| %>
    <div class="mb-2 contact-list">
      <p><%= contact.created_at.strftime("%Y/%m/%d %H:%M:%S") %></p>
      <p><%= contact.user.nickname %>:<%= link_to "内容を確認する", user_contact_path(contact.user_id,contact.id) %></p>
    </div>
  <% end %>
</div>