.contact-lists{
  width: 60%;
  margin: 0 auto;
}

.contact-list{
  padding: 5px;
  border-bottom: 1px solid #bbb;
}

.contact-show,.contact-new{
  width: 60%;
  margin: 0 auto;
}

.contact-form{
  width: 100%;
  min-height: 200px;
  overflow: scroll;
}