.check-contact{
  padding: 10px;
  color: #fff;
  background-color: #ff4500;
  border-radius: 5px;
  &:hover{
    text-decoration: none;
    color: #fff;
    opacity: 0.8;
  }
}

.profile-area{
  border-bottom: 1px solid #bbb;
}

.photo-space{
  width: 150px;
  height: 150px;
  overflow: hidden;
  border: 1px solid #bbb;
}

.photo-space p{
  text-align: center;
  font-weight: bold;
  color: #bbb;
}

.user-photo{
  width: 100%;
}

.profile{
  min-height: 200px;
  width: 100%;
  padding: 10px;
}