<div class="container-fulid">
  <div class="row">
    <% @products.each do |product| %>
      <div class="content col-xl-4"  id="product_<%= product.id %>" >
        <%= render "product", product: product %>
      </div>
    <% end %>
  </div>
</div>