<div class="container-fulid">
  <div class="row">
    <div class="content col-xl-4">
      <div class="content-info">
        <p>タイトル<p>
        <div class="d-flex">
        <p>ユーザー</p>
        <p>作成日：2020/11/15</p>
        </div>
      </div>
    </div>
  </div>
</div>