.content{
  height: 40vh;
  width: 100%;
  background-color: #333;
  position: relative;
  border: 1px solid #fff;
  overflow: hidden;
  &:hover{
    opacity: 0.8;
  }
}

.product-image{
  width: 100%;
}

.content-info{
  width: 90%;
  margin: 10px;
  padding: 10px;
  background-color: #ddd;
  border-radius: 1rem;
  opacity: 0.9;
  position: absolute;
  bottom: 0;
}

.content-info p{
  margin: 0 1rem;
  font-weight: bold;
}